.boton1 {
    background-color: blue;
    align-self: center;
    margin: 12px;
    padding: 9px;
    border: 0px white solid;
    border-radius: 50px;
    width: 100px;
}

.contenedor-botones-paginas{
    display: flex;
    justify-content: center;
    
}

.letrablanca{
    padding-right: 2%;
}