*{
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
   
}

/* /Generales/ */
li{
    list-style: none;
}
ul{
  list-style: none;
}
body{
  background-image: url(../images/backround-rugosos.JPEG);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
}