/* /Footer/ */
footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    margin: 16px;
    padding-top: 80px;
    color: white;
    word-spacing: 2px;
}
.foot{
    color:white;
    text-decoration: none;
    margin-left: 1%;
}
i{
    margin: 4px;
}